<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="main-layout">

    <div class="sidebar">
      <ul><a href="https://boardgamegeek.com" target="_blank">BGG</a></ul>
      <ul><a href="https://fantasyflightgames.com" target="_blank">FFG</a></ul>
      <ul><a href="https://dicetower.com" target="_blank">Dice Tower</a></ul>
      <ul>Stores</ul>
      <ul>Cool Stuff Inc</ul>
      <ul>Meeple Realty</ul>
      <ul>Broken Token</ul>
      <ul>You Tube Channels</ul>
      <ul>No Pun Included</ul>
    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    </div>

    {%- include footer.html -%}

  </body>

</html>
